body
{
	margin: 0px auto 0px;
	padding: 0;
	background: url(images/fondo.jpg);
	color: #000000;
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	width:100%;
	min-height:500px;
}
#filtro-nomina
{
	width: 500px;
}
.filtro
{
	width: 30%;
}

::selection
{
	background-color: #fff;
}

a img
{
	border: none;
}

a 
{
	text-decoration:none;
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	font-weight: 200;
	cursor:pointer;
	display:block;
}

#paginacion>a
{
	display: inline-block;
}

span.form-error
{
	color: #d00000;
	text-shadow: 0px 1px 1px #000;
	font-weight: bolder;
	padding: 5px 5px 5px 22px;
	position: absolute;
	z-index: 9999;
	display: block;
	float: right;
	right: 56px;
	top: 0;
}

.cargando
{
	display: block;
	margin: 0px auto;
}

span.login-error
{
	color: #d00000;
	text-shadow: 0px 1px 1px #000;
	font-weight: bolder;
	padding: 5px 5px 5px 0px;
	position: absolute;
	z-index: 9999;
	display: block;
	float: left;
	top: -8px;
}

.columna-1
{
	width: 385px;
	min-height: 300px;
	float: left;
}

.contenedor-categoria
{
	width: 350px;
	padding: 5px;
	border: 1px solid #29447E;
	background-color: #fff;
	margin: 0 auto;
	min-height: 0px;
	margin-bottom:15px;
	border-radius: 4px;
}

.resultSubCategoria
{
	width: 320px !important;
	padding: 4px 0px 5px !important;
	border: 1px solid #29447E;
	background-color: #fff;
	margin: 0;
	margin-left: 18px !important;
	min-height: 50px;
	margin-bottom:15px;
	border-radius: 4px;
}

p#texto-p
{
	font-size: 12px;
	line-height: 23px;
	margin: 2px 0px;
	display: block;
	float: left;
}

/* acordion */

.acordion-ul
	{
		display: block;
		position: relative;
		margin: 0px;
		padding: 0px;
		min-height: 50px;
	}

		.acordion-ul > li.click-acordion
		{
			display: block;
			min-height: 30px;
			color: #fff;
			line-height: 30px;
			background-color:  #fff;
			margin-bottom: 2px;
		}

			.acordion-ul > li.click-acordion > aside
			{
				border-color: #3B5998;
				background: #3B5998;
				display: block;
				height: 30px;
				padding-left: 50px;
				position: relative;
				cursor: pointer;
			}

				.acordion-ul > li.click-acordion > aside > i
				{
					left: 0px;
					position: absolute;
					border: 1px solid #fff !important;
					border-radius: 50%;
					width: 16px;
					height: 26px;
					top: 1px;
					padding: 0px 5px;
					line-height: 0px;
					font-size: 29px;
					margin: 0px 10px;
					-webkit-transform: rotateZ(-90deg);
					-moz-transform: rotateZ(-90deg);
					-o-transform: rotateZ(-90deg);
				}

					.acordion-ul > li.click-acordion.active > aside > i
					{
						-moz-transition:all 0.3s ease-out;
						-o-transition:all 0.3s ease-out;
						-webkit-transition:all 0.3s ease-out;
						-webkit-transform: rotateZ(0deg);
					    -moz-transform: rotateZ(0deg);
					    -o-transform: rotateZ(0deg);
					    border-color: #0E385F !important;
					}

			.acordion-ul > li.click-acordion > aside:hover,
			.acordion-ul > li.click-acordion > aside:focus
			{
				background: #6D84B4;
				border-color: #6D84B4;
			}

			.acordion-ul > li.click-acordion.active > ul
			{
				display: block;
				min-height: 0px;
				-moz-transition:all 0.3s ease-out;
				-o-transition:all 0.3s ease-out;
				-webkit-transition:all 0.3s ease-out;
			}
			.acordion-ul > li.click-acordion.active > aside
			{
				background-color: #fff;
				border-color: #fff;
				color: #0E385F !important;
			}
			.acordion-ul > li.click-acordion > ul
			{
				display: none;
				position: relative;
				padding: 0px;
				margin: 0px;
				min-height: 50px;
				width: 90%;
				margin: 0px auto;
				-moz-transition:all 0.3s ease-out;
				-o-transition:all 0.3s ease-out;
				-webkit-transition:all 0.3s ease-out;
			}

/* fin acordion */

h1, h2, h3, h4
{
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	color:#333333
}

header, section, footer, aside, nav, article, figure 
{
	display: block;
}

/* Definiciones de capas */

.clear:after
{
	clear: both;
	float: none;
	display: block;
	content: " ";
}

#contenedorLogin
{
	width: 500px;
	height: 170px;
	margin: 40px auto 170px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 16px 19px;
	top: 154px;
	position: relative;
}

header
{
	position:relative;
	height:40px;
	width:100%;
	border-color: #3B5998;
	background-color: #3B5998;
	box-shadow: 0px 2px 5px #000;
}

	header nav#header-panel
	{
		height:40px;
		position:relative;
		float:left;
	}
	
		header #titulo
		{
			margin: 0px 12px;
			padding: 0;
			line-height: 40px;
			color: #fff;
			text-shadow: 0px 2px 1px rgb(83, 76, 76);
			float: left;
			text-transform: uppercase;
		}
		
		header  aside#left-datos
		{
			height:40px;
			float:right;
			position:relative;
		}
		
			header #left-datos aside#datos
			{
				float: left;
				height: 40px;
				position: relative;
				margin-right: 6px;
			}
			
				header #left-datos aside#datos #admin
				{
					display: block;
					margin: 0px;
					font-size: 12px;
					color: #fff;
					font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
					text-align: right;
				}
			
				header #left-datos aside#datos #clock1
				{
					display:block;
					font-size: 12px;
					color:#fff;
					font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
				}
				
				header #left-datos a#cerrar
				{
					float: left;
					padding: 0px 14px 0px 10px;
					height: 40px;
					line-height: 40px;
					color: #fff;
					font-size: 14px;
					text-align: center;
					width: 111px;
				}
				
					header #left-datos a#cerrar:hover
					{
						-webkit-transition: all 0.25s linear;
						-moz-transition: all 0.25s linear;
						-ms-transition: all 0.25s linear;
						-o-transition: all 0.25s linear;
						transition: all 0.25s linear;
						background:rgb(99, 94, 94);
					}
				
					header #left-datos a#cerrar > span
					{
						color: #fff;
						padding: 0px 5px;
						float: left;
						font-size: 14px;
						font-weight: bold;
					}
					
					header #left-datos a#cerrar:hover > span
					{
						-webkit-transition: all 0.25s linear;
						-moz-transition: all 0.25s linear;
						-ms-transition: all 0.25s linear;
						-o-transition: all 0.25s linear;
						transition: all 0.25s linear;
						background:#d00000;
					}
	
		header nav#header-panel > ul
		{
			display:block;
			position:relative;
			margin:0;
			padding:0;
			list-style:none;
		}
		
			header nav#header-panel > ul > li
			{
				float:left;
				height:40px;
				line-height:40px;
				padding: 0px 5px;
				
			}
			
			header nav#header-panel > ul > li > a
			{
				color: #fff;
				font-weight: bold;
				text-shadow: 0px 1px 1px #000;
				width: auto;
				text-align: center;
			}
			
				header nav#header-panel > ul > li:hover,
				header nav#header-panel > ul > li.active
				{
					-webkit-transition: all 0.25s linear;
					-moz-transition: all 0.25s linear;
					-ms-transition: all 0.25s linear;
					-o-transition: all 0.25s linear;
					transition: all 0.25s linear;
					background:	rgb(99, 94, 94);
				}

footer
{
	display:block;
	position:relative;
}

	footer p
	{
		text-align:center;
	}

/* cuerpo de pagina */

section.contenedor
{
	min-height: 150px;
	position: relative;
	margin: 12px auto;
	padding: 16px 15px 9px;
	width: 980px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

	section.contenedor .despliegue-vehiculo
	{
		display:block;
		min-height:50px;
		position:relative;
		padding-top:12px;
	}
	
		section.contenedor .despliegue-vehiculo > h2
		{
			margin: 0px;
			padding: 0px;
			font-size: 21px;
			border-bottom: 4px solid #DDD;
			margin-bottom: 14px;
			padding-bottom: 2px;
			position: relative;
			display: block;
			text-transform: uppercase;
		}
		
			section.contenedor .despliegue-vehiculo .boton-categoria
			{
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
				display: block;
				background-color: #627AAC;
				text-shadow: 0px 1px 1px #000;
				color: #fff;
				border: 1px solid #29447E;
				border-radius: 3px;
				cursor: pointer;
				font-size: 18px;
				line-height: 25px;
				width: auto;
				text-transform: capitalize;
				padding: 0px 6px;
				-webkit-transition: all 0.25s linear;
				-moz-transition: all 0.25s linear;
				-ms-transition: all 0.25s linear;
				-o-transition: all 0.25s linear;
				transition: all 0.25s linear;
			}
			
				section.contenedor .despliegue-vehiculo .boton-categoria:hover
				{
					-webkit-transition: all 0.25s linear;
					-moz-transition: all 0.25s linear;
					-ms-transition: all 0.25s linear;
					-o-transition: all 0.25s linear;
					transition: all 0.25s linear;
					background-color: #4F6AA3;
					border-color: #29447E;
				}
		
		section.contenedor .despliegue-vehiculo > .buscador
		{
			display: block;
			margin-top: 5px;
			margin-bottom: 5px;
		}

			section.contenedor .despliegue-vehiculo > .buscador > input[type=text]
			{
				margin: 0px;
				width: 300px;
			}

			#input_buscador
			{
				width: 200px;
				padding: 6.5px 6px;
				margin: 0px;
				border-radius: 0px 4px 4px 0px;
			}

			.input-prepend
			{
				width: 300px;
				margin: 0px;
			}

			.add-on
			{
				display: inline-block;
				width: auto;
				height: 20px;
				min-width: 16px;
				padding: 4px 5px;
				font-size: 14px;
				font-weight: normal;
				line-height: 20px;
				text-align: center;
				text-shadow: 0 1px 0 #ffffff;
				background-color: #eeeeee;
				border: 1px solid #ccc;
				-webkit-border-radius: 4px 0 0 4px;
				-moz-border-radius: 4px 0 0 4px;
				border-radius: 4px 0 0 4px;
			}

		section.contenedor .despliegue-vehiculo > h2 > span
		{
			font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
			font-size: 22px;
			color: #d00000;
			text-align: left;
		}
		
		section.contenedor .despliegue-vehiculo nav
		{
			min-height:50px;
			display:block;
			position:relative;
			margin-bottom: 10px;
		}
		
			section.contenedor .despliegue-vehiculo nav ul
			{
				position:relative;
				display:block;
				margin:0;
				padding:0;
				list-style:none;
			}
			
				section.contenedor .despliegue-vehiculo nav ul > li
				{
					float: left;
					margin-left: 22px;
					margin-bottom: 12px;
					height: 164px;
					width: 200px;
					background-color: #DDD;
					color: #fff;
					border: 1px solid #29447E;
					position:relative;
				}
					section.contenedor .despliegue-vehiculo nav ul > li .titulo
					{
						font-size:11px;
						margin: 4px 0px 0px;
						text-align: center;
						color: #000;
					}
					
						section.contenedor .despliegue-vehiculo nav ul > li .titulo.no-center
						{
							text-align:left !important;
							padding-left: 2px;
						}
					
						section.contenedor .despliegue-vehiculo nav ul > li .titulo > span
						{
							font-size: 14px;
							color: rgb(172, 51, 51);
						}
					
					section.contenedor .despliegue-vehiculo nav ul > li .boton-ar
					{
						position:relative;
						display:block;
						min-height:10px;
					}
					
					section.contenedor .despliegue-vehiculo nav ul > li .boton-ar .link-boton-finalizar
					{
						float: left;
						left: 0;
						position: relative;
						width: 40px;
						height: 35px;
						line-height: 35px;
						background: #627AAC;
						color: #fff;
						font-weight: 900;
					}
					
						section.contenedor .despliegue-vehiculo nav ul > li .boton-ar .link-boton-finalizar:hover
						{
							-webkit-transition: all 0.25s linear;
							-moz-transition: all 0.25s linear;
							-ms-transition: all 0.25s linear;
							-o-transition: all 0.25s linear;
							transition: all 0.25s linear;
							background:#4F6AA3;
						}
						
					section.contenedor .despliegue-vehiculo nav ul > li .boton-ar .numero-orden
					{
						position: relative;
						float: right;
						right: 0;
						width: 67px;
						height: 33px;
						color: #000;
						border-bottom: 2px solid #29447E;
						border-left: 2px solid #29447E;
						text-align: center;
						line-height: 35px;
						font-weight: bolder;
					}
				
					section.contenedor .despliegue-vehiculo nav ul > li .boton-ar .sacar-orden
					{
						text-align: center;
						text-shadow: 0px 1px 1px #000;
						font-size: 14px;
						line-height: 20px;
						background:#627AAC;
					}
					
					section.contenedor .despliegue-vehiculo nav ul > li .boton-ar .sacar-orden:hover
					{
						-webkit-transition: all 0.25s linear;
						-moz-transition: all 0.25s linear;
						-ms-transition: all 0.25s linear;
						-o-transition: all 0.25s linear;
						transition: all 0.25s linear;
						background:#4F6AA3;
					}
					
					section.contenedor .despliegue-vehiculo nav ul > li .boton-ab
					{
						position:absolute;
						bottom: 0px;
						height:35px;
						display:block;
						width:100%;
					}
					
						section.contenedor .despliegue-vehiculo nav ul > li .boton-ab .gastos-vehiculo
						{
							text-align: center;
							text-shadow: 0px 1px 1px #000;
							font-size: 14px;
							line-height: 35px;
							background:#627AAC;
						}
						
							section.contenedor .despliegue-vehiculo nav ul > li .boton-ab .gastos-vehiculo:hover
							{
								-webkit-transition: all 0.25s linear;
								-moz-transition: all 0.25s linear;
								-ms-transition: all 0.25s linear;
								-o-transition: all 0.25s linear;
								transition: all 0.25s linear;
								background:#4F6AA3;
							}
					
						section.contenedor .despliegue-vehiculo nav ul > li .boton-ab .link-boton-eliminar
						{
							color: #fff;
							background: #627AAC;
							float: left;
							left: 0px;
							width: 35px;
							height: 35px;
							font-size: 27px;
							text-align: center;
							line-height: 35px;
						}
						
							section.contenedor .despliegue-vehiculo nav ul > li .boton-ab .link-boton-eliminar:hover
							{
								-webkit-transition: all 0.25s linear;
								-moz-transition: all 0.25s linear;
								-ms-transition: all 0.25s linear;
								-o-transition: all 0.25s linear;
								transition: all 0.25s linear;
								background:#4F6AA3;
							}
						
						section.contenedor .despliegue-vehiculo nav ul > li .boton-ab .link-boton-modificar
						{
							background-color:#627AAC;
							float:right;
							right:0px;
							width:35px;
							height:35px;
							font-size: 24px;
							text-align: center;
							line-height: 35px;
						}
						
							section.contenedor .despliegue-vehiculo nav ul > li .boton-ab .link-boton-modificar:hover
							{
								-webkit-transition: all 0.25s linear;
								-moz-transition: all 0.25s linear;
								-ms-transition: all 0.25s linear;
								-o-transition: all 0.25s linear;
								transition: all 0.25s linear;
								background-color:#4F6AA3;
							}
	
	ul#datos
	{
		position:relative;
		display:block;
		list-style:none;
		margin:0;
		padding:0;
	}

		ul#datos .lista-categoria
		{
			position:relative;
			display:block;
			list-style:none;
			margin:0;
			padding:0;
		}

			ul#datos .lista-categoria.tamn
			{
				width: 400px;
				float: left;
				margin-bottom: 10px;
			}

			ul#datos .lista-categoria.modificar > li
			{
				float: left;
			}
		
			ul#datos .lista-categoria > li
			{
				position: relative;
				display: block;
				height: 28px;
				padding: 2px 0px;
				width: 242px;
				margin: 0px auto;
			}
			
				ul#datos .lista-categoria > li .izquierda
				{
					width: 190px;
					height: 26px;
					float: left;
					position: relative;
					border: 1px solid #29447E;
					background-color: #627AAC;
					border-radius: 4px;
				}
				
					ul#datos .lista-categoria > li .izquierda > input[type=checkbox]
					{
						margin-top: 7px;
						float: left;
					}
					
					ul#datos .lista-categoria > li .izquierda > label
					{
						line-height: 26px;
						color: #fff;
						display:block;
						cursor: pointer;
					}					
				
					ul#datos .lista-categoria > li .izquierda:hover,
					ul#datos .lista-categoria > li .izquierda.active
					{
						-webkit-transition: all 0.25s linear;
						-moz-transition: all 0.25s linear;
						-ms-transition: all 0.25s linear;
						-o-transition: all 0.25s linear;
						transition: all 0.25s linear;
						background-color: rgb(69, 153, 37);
					}
					
				ul#datos .lista-categoria > li .derecha
				{
					width:50px;
					height:28px;
					float:left;
					position:relative;
				}
					
					ul#datos .lista-categoria > li .derecha .eliminar
					{
						width: 19px;
						height: 19px;
						border-radius: 4px;
						border: 1px solid;
						text-align: center;
						font-weight: bold;
						margin: 3.5px auto;
						cursor:pointer;
					}
					
						ul#datos .lista-categoria > li .derecha .eliminar:hover
						{
							-webkit-transition: all 0.25s linear;
							-moz-transition: all 0.25s linear;
							-ms-transition: all 0.25s linear;
							-o-transition: all 0.25s linear;
							transition: all 0.25s linear;
							background-color: #d00000;
							color: #fff;
						}
				
		ul#datos > li
		{
			position:relative;
		}						

	ul#datos > li > h2
	{
		margin: 0px;
		padding: 0px;
		font-size: 21px;
		border-bottom: 4px solid #DDD;
		margin-bottom: 14px;
		padding-bottom: 2px;
		position: relative;
		display: block;
		text-transform: uppercase;
	}
	
	ul#datos > li > h2 > span
	{
		font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
		font-size: 22px;
		color: #d00000;
		text-align: left;
	}
	
	form > h2
	{
		margin: 0px;
		padding: 0px;
		font-size: 21px;
		border-bottom: 4px solid #DDD;
		margin-bottom: 14px;
		padding-bottom: 2px;
		position: relative;
		display: block;
		text-transform: uppercase;
	}
	
	form h2 > span
	{
		font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
		font-size: 22px;
		color: #d00000;
		text-align: left;
	}

	/*tabla*/
			
	form
	{
		position:relative;
	}
		
	input[type=text],
	input[type=password],
	textarea,
	select
	{
		font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
		display: block;
		width: 90%;
		background: #fafafa;
		border: 1px solid #999;
		border-radius: 3px;
		padding: 5px 0px 5px 10px;
		margin: 5px 0px 5px 18px;
		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		-ms-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
		color: #000;
		position:relative;
	}

		.nuevo-tam
		{
			width: 180px !important;
			float: right;
			right: 35px;
			position: relative;
		}
	
		select
		{
			padding: 4px 6px 4px 6px;
			width: 92%;
			position:relative;
		}
		
		select.new-tam
		{
			width:89% !important;
			margin: 0px auto;
		}
		
		textarea:hover,
		textarea:focus,
		textarea:active,
		input[type=text]:hover,
		input[type=text]:focus,
		input[type=text]:active,	
		input[type=password]:hover,
		input[type=password]:focus,
		input[type=password]:active,
		select:hover,
		select:focus,
		select:active
		{
			-webkit-transition: all 0.25s linear;
			-moz-transition: all 0.25s linear;
			-ms-transition: all 0.25s linear;
			-o-transition: all 0.25s linear;
			transition: all 0.25s linear;
			outline:none;
			background:#fff;
			color: #000;
		}
		
	.login
	{
		width: 98% !important;
		padding: 5px 0px 5px 10px !important;
		margin: 10px 0px 10px 0px !important;
	}
	
	input[type=submit],
	input[type=button]
	{
		display: block;
		padding: 5px 0px;
		text-align: center;
		width: 100%;
		background-color: #627AAC;
		text-shadow: 0px 1px 1px #000;
		color: #fff;
		border: 1px solid #29447E;
		border-radius: 3px;
		margin: 8px 0px;
		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		-ms-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
		cursor:pointer;
	}
	
		input[type=submit]:hover,
		input[type=button]:hover
		{
			-webkit-transition: all 0.25s linear;
			-moz-transition: all 0.25s linear;
			-ms-transition: all 0.25s linear;
			-o-transition: all 0.25s linear;
			transition: all 0.25s linear;
			background-color:#4F6AA3;
			border-color:#29447E;
		}
		
	/* link */
		
	section.contenedor #menu-opciones
	{
		display:block;
		position:relative;
		min-height:20px;
		margin-bottom: 10px;
	}
		
		section.contenedor #menu-opciones .link-boton,
		#form_agregarCategorias .link-boton,
		#gastos-vehiculo .link-boton
		{
			display: block;
			text-align: center;
			background-color: #627AAC;
			text-shadow: 0px 1px 1px #000;
			color: #fff;
			border: 1px solid #29447E;
			border-radius: 3px;
			cursor: pointer;
			font-size: 18px;
			line-height: 25px;
			width: auto;
			-webkit-transition: all 0.25s linear;
			-moz-transition: all 0.25s linear;
			-ms-transition: all 0.25s linear;
			-o-transition: all 0.25s linear;
			transition: all 0.25s linear;
		}
		
			#gastos-vehiculo .link-boton.newTam
			{
				width: 716px;
				margin: 0px auto;
			}
			
			#form_agregarCategorias .link-boton.newTam
			{
				width:300px;
				margin: 0px auto;
			}
			
			section.contenedor #menu-opciones .link-boton:hover,
			#form_agregarCategorias .link-boton:hover,
			#gastos-vehiculo .link-boton:hover
			{
				-webkit-transition: all 0.25s linear;
				-moz-transition: all 0.25s linear;
				-ms-transition: all 0.25s linear;
				-o-transition: all 0.25s linear;
				transition: all 0.25s linear;
				background-color:#4F6AA3;
				border-color:#29447E;
			}

/* tabla */

.floatingHeader 
{
  position: fixed;
  top: 0;
  visibility: hidden;
}

table
{
	border-spacing: 0;
	width: 100%;
}
#tabla-despliegue
{
	margin:10px auto 15px;
	padding:0;
	border: 1px solid #29447E;
	position:relative;
}

	#tabla-despliegue td:first-child, #tabla-despliegue th:first-child
	{
		border-left:none;
	}
	
	#tabla-despliegue tbody tr:nth-child(even) 
	{
		background: #f5f5f5;
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
		box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	}
	
	#tabla-despliegue td, 
	#tabla-despliegue th
	{
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding: 4px 3px;
		text-align: center;
	}

	#tabla-despliegue .header-tabla
	{
		color:#fff !important;
	}
	
		#tabla-despliegue .header-tabla > th
		{
			background: #627AAC !important;
			border:none;
		}
		
	#tabla-despliegue tbody tr:nth-child(even):hover,	
	#tabla-despliegue tr:hover 
	{
		background: rgb(99, 94, 94);
		color:#fff;
		cursor: pointer;
		-o-transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;     
	} 
		
	#tabla-despliegue tr > th
	{
		padding:4px 2px 9px 2px;
		border-bottom: 1px solid #DDD;
	}
	
.header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}

	#tabla-despliegue .link-boton-menu
	{
		background-color: #627AAC;
		text-shadow: 0px 1px 1px #000;
		color: #fff;
		border: 1px solid #29447E;
		border-radius: 3px;
		padding-top: 2px;
		padding-bottom: 2px;
		font-weight: bold !important;
	}	
	
		#tabla-despliegue .link-boton-menu.si
		{
			background:rgb(69, 153, 37);
		}

		#tabla-despliegue .link-boton-menu > i
		{
			display: block;
		}

		#tabla-despliegue .link-boton-menu > i.menu
		{
			display: inline;
			margin-right: 3px;
		}
		
/* gastos vehiculo */

	#gastos-vehiculo
	{
		width:974px;
		position:relative;
		min-height:150px;
	}
	
		#gastos-vehiculo #header
		{
			position:relative;
			display:block;
			height:35px;
			border-bottom: 4px solid #DDD;
		}
		
		#gastos-vehiculo #header #datos-vehiculo
		{
			float:left;
			height:35px;
		}
		
			#gastos-vehiculo #header #datos-vehiculo > h2
			{
				margin: 0px;
				padding: 0px;
				font-size: 21px;
				position: relative;
				display: block;
				text-transform: uppercase;
			}
			
				#gastos-vehiculo #header #datos-vehiculo > h2 #texto
				{
					text-transform: capitalize;
					color:#d00000;
					font-size: 19px;
				}
		
		#gastos-vehiculo #header #num-orden
		{
			float:right;
			height:35px;
		}
		
			#gastos-vehiculo #header #num-orden > h2
			{
				margin: 0px;
				padding: 0px;
				font-size: 21px;
				position: relative;
				display: block;
				text-transform: uppercase;
				width: 136px;
				text-align: right;
			}
			
			#gastos-vehiculo #header #num-orden > h2 > span#num-orden
			{
				padding: 0px 5px;
				border: 2px solid #29447E;
				height: 30px;
				margin-left: 4px;
			}
			
		#gastos-vehiculo .contenedor-gasto
		{
			width:700px;
			min-height:0px;
			position:relative;
			margin: 10px auto 20px;
			border: 1px solid #DDD;
			padding: 7px;
		}
		
			#gastos-vehiculo .contenedor-gasto > h2
			{
				margin: 0px;
				padding: 0px;
				font-size: 21px;
				border-bottom: 4px solid #DDD;
				margin-bottom: 14px;
				padding-bottom: 2px;
				position: relative;
				display: block;
				text-transform: uppercase;
			}
			
			#gastos-vehiculo .contenedor-gasto > h2 > span#signo
			{
				font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
				font-size: 22px;
				color: #d00000;
				text-align: left;
			}
			
		#gastos-vehiculo .acordion
		{
			margin-bottom:0px;
		}
		
		.caja 
		{
			width: 711px;
			display: none;
			padding: 5px;
			border: 1px solid #29447E;
			background-color: #fff;
			margin: 0 auto;
			border-top: none;
			min-height: 0px;
		}
		
			.caja.newTam
			{
				width:300px;
				margin: 0px auto 10px;
			}
		
		.mostrar
		{
			width: 711px;
			display: none;
			padding: 5px;
			border: 1px solid #29447E;
			background-color: #fff;
			margin: 0 auto;
			border-top: none;
			min-height:0px;
		}
		
			.mostrar.newTam
			{
				width:300px;
				margin: 0px auto 10px;
			}

/* boton de caracteristicas */
.addInput
{
	display: block;
	border: 1px solid #000;
	background-color: #1474BE;
	color: #fff;
	width: 150px;
	text-align: center;
	border-radius: 3px;
	margin: 5px 0px;
	cursor: pointer;
}

	.addInput:hover,
	.addInput:focus,
	.addInput.active,
	{
		-o-transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;  
		background-color: #B33434;
	}

.remInput
{
	background-color: #d00000;
	color: #fff;
	padding-left: 10px;
	font-size: 15px;
	width: 91px;
	border-radius: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

	.remInput > i
	{
		margin-right: 3px;
	}

/* rel-categoria */
#relacion-orden
{
	float: left;
	margin-bottom: 6px;
	position: relative;
}

.rel-categoria
{
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

	.rel-categoria .titulo-categoria
	{
		text-align: left;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700px;
	}

	.rel-categoria .result-categoria 
	{
		padding: 4px 26px 4px 4px;
		text-align: left;
		border-radius: 3px;
		background-color: rgb(69, 153, 37);
		color: #fff;
		position: relative;
		margin: 2px 0px;
		width: 515px;
		border: 1px solid #29447E;
		margin: 5px 0px;
	}

			#relacion-orden .result-categoria  .cate_trabajo
			{
				display: block;
				margin-top: 5px;
			}

			#relacion-orden .result-categoria  .cate_trabajo aside
			{
				margin-right: 8px;
				position: relative;
				float: left;
			}

		.rel-categoria .result-categoria > a 
		{
			float: right;
			position: absolute;
			top: 4px;
			right: 6px;
			color: #fff;
		}

			.rel-categoria .result-categoria > a:hover,
			.rel-categoria .result-categoria > a:focus,
			.rel-categoria .result-categoria > a:active
			{
				-o-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
				transition: all 0.1s ease-in-out;  
				color: #E99898;
			}

		.rel-categoria .result-categoria > a > i
		{
			display: inline;
			text-shadow: 0px 0px 1px #000;
			font-size: 16px;
		}

		/* impresion */
           
.imprecionOrden
{
	width: 920px;
	position: relative;
	min-height: 200px;
}

	.imprecionOrden .header
	{
		display: block;
		position: relative;
		height: 85px;
	}

		.imprecionOrden .header > #logo-imprecion
		{
			width: 160px;
			margin: 18px 30px;
		}

		.imprecionOrden .header > h1
		{
			text-align: center;

		}

		.imprecionOrden .header > #num-orden
		{
			width: 160px;
			height: 90px;
			position: relative;
			float: right;
			margin-top: 4px;
			padding-right: 30px;
		}

			.imprecionOrden .header > #num-orden > #titulo
			{
				display: block;
				text-align: center;
				text-transform: uppercase;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.imprecionOrden .header > #num-orden > #n-titulo
			{
				font-weight: 700;
				width: 28px;
				font-size: 22px;
				float: left;
				margin: 0px;
			}

			.imprecionOrden .header > #num-orden > #numero
			{
				border: 1px solid #000;
				width: 110px;
				text-align: center;
				float: left;
				margin: 0px;
				padding: 4px 2px;
				margin-left: 12px;
				font-size: 14px;
				font-weight: 500;
			}
	
	.imprecionOrden .datos-taller
	{
		display: block;
		position: relative;
		height: 52px;
		margin-bottom: 5px;
	}

		.imprecionOrden .datos-taller #medidor
		{
			position: absolute;
			float: right;
			right: 30px;
			width: 100px;
			top: 0px;
		}

		.imprecionOrden .datos-taller > #texto
		{
			position: relative;
			display: block;
			padding-left: 30px;
		}

			.imprecionOrden .datos-taller > #texto > p
			{
				margin: 0px;
				padding: 0px;
				font-size: 9px;
			}
	
	.imprecionOrden .datos-cliente
	{
		display: block;
		position: relative;
		min-height: 100px;
	}
	
		.imprecionOrden .datos-cliente > ul
		{
			margin: 0px;
			padding: 0px;
			padding-left: 30px;
			padding-right: 30px;
			display: block;
			list-style: none;
			min-height: 50px;
		}
		
			.imprecionOrden .datos-cliente > ul > li
			{
				display: block;
				min-height: 18px;
			}

				.imprecionOrden .datos-cliente > ul > li > p
				{
					border-bottom: 1px solid #369f54;
					color: #000;
					float: left;
					margin: 0px;
					max-width: 100%;
				}

					.imprecionOrden .datos-cliente > ul > li > p.grande
					{
						width: 100%;
					}

					.imprecionOrden .datos-cliente > ul > li > p.mediano
					{
						width: 50%;
					}

					.imprecionOrden .datos-cliente > ul > li > p.chico
					{
						width: 37.5%;
					}

					.imprecionOrden .datos-cliente > ul > li > p.schico
					{
						width: 25%;
					}
					
					.imprecionOrden .datos-cliente > ul > li > p.sschico
					{
						width: 20%;
					}

				.imprecionOrden .datos-cliente > ul > li > p > span
				{
					background: url(../images/fondo_impresion.png);
					color: #fff;
					text-transform: uppercase;
					padding: 0px 3px;
					margin-right: 3px;
				}

	.imprecionOrden .caracteristicas
	{
		margin-top: 10px;
		margin-left: 30px;
		margin-right: 30px;
		display: block;
		position: relative;
		height: 380px;
	}

		.imprecionOrden .caracteristicas > .imagen-caracteristica
		{
			position: absolute;
			width: 350px;
			top: 20px;
			left: 255px;
		}
	
		.imprecionOrden .caracteristicas > .lista-caracteristicas
		{
			width: 250px;
			min-width: 20px;
			margin: 0px;
			padding: 0px;
			list-style: none;
			float: left;
			position: absolute;
		}

		.imprecionOrden .caracteristicas > .lista-caracteristicas.uno
		{
			left: 0px;
			top: 0px;
		}

		.imprecionOrden .caracteristicas > .lista-caracteristicas.dos
		{
			left: 0px;
			top: 235px;
		}

		.imprecionOrden .caracteristicas > .lista-caracteristicas.tres
		{
			right: 0px;
			top: 0px;
		}

		.imprecionOrden .caracteristicas > .lista-caracteristicas.cuatro
		{
			right: 0px;
			top: 252px;
		}
			
			.imprecionOrden .caracteristicas > .lista-caracteristicas > li
			{
				position: relative;
			}

			.imprecionOrden .caracteristicas > .lista-caracteristicas > li.titulo
			{
				font-weight: 600;
				text-align: center;
			}

			.imprecionOrden .caracteristicas > .lista-caracteristicas > li > span 
			{
				float: right;
			}

	.imprecionOrden .categoriaImpresion
	{
		display: block;
		position: relative;
		min-height: 100px;
		padding-left: 30px;
		padding-right: 30px;
	}

		.imprecionOrden .categoriaImpresion .categoria
		{
			display: block;
			height: 60px;
			position: relative;
		}

			.imprecionOrden .categoriaImpresion .categoria > h2
			{
				width: 150px;
				height: 60px;
				text-align: left;
				float: left;
				margin: 0px;
			}

			.imprecionOrden .categoriaImpresion .categoria > ul
			{
				padding: 0px;
				margin: 0px;
				width: 710px;
				display: block;
				margin-top: 5px;
				list-style: none;
				position: relative;
				margin-bottom: 5px;
			}

				.imprecionOrden .categoriaImpresion .categoria > ul span
				{
					float: right;
					display: block;
				}

			.imprecionOrden .categoriaImpresion .categoria .subtotal
			{
				float: right;
				right: 0px;
				bottom: 10px;
				font-weight: 700;
				position: absolute;
				width: 160px;
				text-align: right;
			}

				.imprecionOrden .categoriaImpresion .categoria .subtotal > span
				{
					text-decoration: underline;
					padding-left: 10px;
				}
	
	.imprecionOrden .finalImpresion
	{
		display: block;
		position: relative;
		min-height: 100px;
		padding-left: 30px;
		padding-right: 30px;
	}

		.imprecionOrden .finalImpresion #datosImpresion
		{
			width: 660px;
			float: left;
			margin: 0px;
			padding: 0px;
			font-size: 10px;
			text-align: left;
		}

			.imprecionOrden .finalImpresion #datosImpresion > #center
			{
				text-align: center;
				display: block;
				font-size: 11px;
			}

			.imprecionOrden .finalImpresion #datosImpresion > #acepto
			{
				text-align: left;
				padding-left: 190px;
				margin: 5px 0px;
				display: block;
				font-size: 11px;
			}

			.imprecionOrden .finalImpresion #datosImpresion > #firma
			{
				text-align: center;
				border-top: 1px solid #000;
				display: block;
				font-size: 11px;
				width: 200px;
				margin: 13px auto;
			}

		.imprecionOrden .finalImpresion #total 
		{
			width: 200px;
			float: left;
		}

			.imprecionOrden .finalImpresion #total > .subtotal
			{
				font-weight: 700;
				margin: 7px 0px;
				font-size: 16px;
				text-align: right;
			}

				.imprecionOrden .finalImpresion #total > .subtotal > span
				{
					text-decoration: underline;
					padding-left: 10px;
				}
				
				.imprecionOrden .finalImpresion #total > .subtotal > span#iva
				{
					padding-left: 23px;
				}

				.imprecionOrden .finalImpresion #total > .subtotal > span#sumaTotal
				{
					padding-left: 44px;
				}

	.imprecionOrden .tabla-corbata
	{
		margin-top: 10px;
		position: relative;
		display: block;
		padding-left: 30px;
	}
		.imprecionOrden .tabla-corbata > table.corbata 
		{
			width: 860px;
		}
		
		.imprecionOrden .tabla-corbata > table.porcentaje
		{
			width: 300px;
			float: left;
			margin-top:20px;
			margin-right: 30px;
		}

		.imprecionOrden .tabla-corbata > table.briciado
		{
			width: 150px;
			float: left;
			margin-top:20px;
		}

		.imprecionOrden .tabla-corbata > table
		{
			border: 1px solid #369f54;
		}

			.imprecionOrden .tabla-corbata > table > td:first-child, #tabla-despliegue th:first-child
			{
				border-left:none;
			}
			
			.imprecionOrden .tabla-corbata > table > tbody tr:nth-child(even) 
			{
				background: #f5f5f5;
			}
			
			.imprecionOrden .tabla-corbata > table td, 
			.imprecionOrden .tabla-corbata > table th
			{
				border-left: 1px solid #ccc;
				border-top: 1px solid #ccc;
				text-align: center;
			}

			.imprecionOrden .tabla-corbata > table > thead
			{
				color:#fff !important;
				background-color: #369f54;
				border: none;
			}
				.imprecionOrden .tabla-corbata > table > thead > tr > th 
				{
					border: none;
					font-weight: 400;
					text-transform: uppercase;
				}
				
			.imprecionOrden .tabla-corbata > table > tbody > tr > td
			{
				padding:4px 2px 9px 2px;
				border-bottom: 1px solid #DDD;
			}
			
			.imprecionOrden .tabla-corbata > table.corbata > thead > tr > th:first-child
			{
				text-align: left;
				padding-left: 5px;
			}

			.imprecionOrden .tabla-corbata > table.corbata > tbody > tr > td:first-child
			{
				text-align: left;
				padding-left: 5px;
			}

	.nav
	{
		display: none;
	}

/* paginacion */

#paginacion 
{
	display: block;
	position: relative;
	margin-top: 4px;
	margin-bottom: 3px;
	min-height: 20px;
}

	#paginacion > a
	{
		background-color:  #627AAC;
		color: #fff;
		padding: 3px;
		font-weight: bold;
	}
		
		#paginacion > a:hover
		{
			-o-transition: all 0.1s ease-in-out;
			-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;  
			background-color: #d00000;
		}
	
	#paginacion > strong
	{
		color: #627AAC !important;
		font-weight: bold;
	}

/* boton ajax */	
.link-boton
{
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: #627AAC;
	color: #fff;
	border: 1px solid #29447E;
	padding: 3px 2px;
	width: 200px;
	text-align: center;
	border-radius: 3px;
}
