/* SAMPLE CSS STYLES FOR JQUERY CLOCK PLUGIN */

  .clockdate { color: #fff; font-size: 12px; float:left; text-align:right; margin-right:2px;}
  .clocktime { color: #fff; font-size: 12px; float:left; text-align:right;}
